<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Tri_Bahtinov_Grabber_Autofocus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <Tri_Bahtinov_Grabber_Autofocus.Properties.Settings>
            <setting name="FocalLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Diameter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PixelSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Regular" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Night" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RotFocuser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AFSpeed" serializeAs="String">
                <value>0.05</value>
            </setting>
        </Tri_Bahtinov_Grabber_Autofocus.Properties.Settings>
    </userSettings>
</configuration>
